/data/**
/images/**
/results/**
/output/**
/sandbox/**
/sources/**
/libs_scraping/**
libs/__pycache__
libs_QSM/__pycache__

!/output/.gitkeep
!/images/.gitkeep
!/sources/.gitkeep
!/data/.gitkeep
!/sandbox/.gitkeep
!/results/.gitkeep
